@model SwiftBlog.Web.Models.ViewModels.AddBlogPostRequest
@{
    ViewData["Title"] = "Add New Blog Post";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Blog Post - Admin Only</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Heading</label>
            <input type="text" class="form-control required" id="heading" asp-for="Heading" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Page Title</label>
            <input type="text" class="form-control required" id="page-title" asp-for="PageTitle" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control required" id="content" asp-for="Content"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Short Description</label>
            <input type="text" class="form-control required" id="short-description" asp-for="ShortDescription" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Featured Image Upload</label>
            <input type="file" id="featured-image-upload" class="form-control"/>

            <img src="" id="featured-image-display" style="display: none; width: 300px" />
        </div>

        <div class="mb-3">
            <label class="form-label">Featured Image URL</label>
            <input type="text" class="form-control required" id="featured-image-url" asp-for="FeaturedImageUrl" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">URL Handle</label>
            <input type="text" class="form-control required" id="url-handle" asp-for="UrlHandle" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Published Date</label>
            <input type="date" class="form-control required" id="published-date" value="2023-08-01" asp-for="PublishedDate" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" class="form-control required" id="author" asp-for="Author" autocomplete="off" />
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" >
            <label class="form-check-label" >
                Make Visible?
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Tags</label>
            <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags">

            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">
                Submit
            </button>
        </div>

    </form>
</div>

@section Scripts {
    <script type="module" src="~/js/disableButton.js" asp-append-version="true"></script>
    <script type="module" src="~/js/froalaEditor.js" asp-append-version="true"></script>
    <script type="module" src="~/js/featuredImageUpload.js" asp-append-version="true"></script>
}