@model SwiftBlog.Web.Models.ViewModels.AddTagRequest
@{
    ViewData["Title"] = "Add New Tag";
}

<div class="bg-secondary bg-opacity-10 py-2 mt-3">
    <div class="container">
		<h1>Add New Tag - Admin Only</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control required" id="name" asp-for="Name" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Display Name</label>
            <input type="text" class="form-control required" id="display-name" asp-for="DisplayName" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Tag Color</label>
            <select style="width: 75px" id="color-select" asp-for="Color">
				<option value="#EBEBEB" name="color" style="background-color: #EBEBEB;"></option>
				<option value="#FFD1DC" name="color" style="background-color: #FFD1DC;"></option>
                <option value="#F09999" name="color" style="background-color: #F09999;"></option>
				<option value="#FFDAB9" name="color" style="background-color: #FFDAB9;"></option>
				<option value="#FFFACD" name="color" style="background-color: #FFFACD;"></option>
				<option value="#C1E1C1" name="color" style="background-color: #C1E1C1;"></option>
				<option value="#D5F6FB" name="color" style="background-color: #D5F6FB;"></option>
                <option value="#ADD8E6" name="color" style="background-color: #ADD8E6;"></option>
                <option value="#C3B1E1" name="color" style="background-color: #C3B1E1;"></option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="module" src="~/js/tag.js" asp-append-version="true"></script>
    <script type="module" src="~/js/disableButton.js" asp-append-version="true"></script>
}