@model SwiftBlog.Web.Models.ViewModels.AddTagRequest
@{
    ViewData["Title"] = "Add New Tag";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
		<h1>Add New Tag - Admin Only</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Display Name</label>
            <input type="text" class="form-control" id="display-name" asp-for="DisplayName" autocomplete="off" />
        </div>

        <div class="mb-3">
            <label class="form-label">Tag Color</label>
            <select style="width: 75px" id="color-select" asp-for="Color">
                <option value="#FFF" name="color" style="background-color: #FFF;"></option>
                <option value="#FFB6C1" name="color" style="background-color: #FFB6C1;"></option>
                <option value="#ADD8E6" name="color" style="background-color: #ADD8E6;"></option>
                <option value="#98FB98" name="color" style="background-color: #98FB98;"></option>
                <option value="#FFFFE0" name="color" style="background-color: #FFFFE0;"></option>
                <option value="#E6E6FA" name="color" style="background-color: #E6E6FA;"></option>
                <option value="#FFDAB9" name="color" style="background-color: #FFDAB9;"></option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>

<script type="module" src="~/js/tag.js" asp-append-version="true"></script>