@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    font-family: 'Roboto Mono', sans-serif;
}

/* TODO: Set scrollbar to overlay over page content */

body {
    margin-bottom: 60px;
    overflow: hidden;
}

html {
    font-size: 12px;
    overflow: auto;
}

.update-message {
    font-size: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .update-message {
        font-size: 14px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.software-icon {
    width:26px;
    height:26px;
}

.beta-icon {
    font-family: 'Special Elite', sans-serif;
}

@media (max-width: 1000px) {
    .software-images {
        display: none;
    }
}

@media (min-width: 1000px) {
    .software-images {
        display: flex;
    }
}

.blog-content img {
    width:100%;
}