@{
    ViewData["Title"] = "Our Privacy Policy";
}

<div class="container mt-4">
    <div class="title d-flex align-items-center">
        <h1>@ViewData["Title"]</h1>
        <i style="padding-left: 10px" class='bx bxs-binoculars bx-lg'></i>
    </div>

    <em class="update-message" style="color: dimgrey">Updated: 7/29/23</em>

    <p>Welcome to SwiftBlog. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information 
        when you use our website/application [or any other platform where your project is hosted]. We are committed to ensuring the 
        privacy and security of your data.</p>

    <h3>Information We Collect</h3>

    <p>When you register an account with SwiftBlog, your data is encrypted using an advanced hashing algorithm and stored securely in
        our database. Furthermore, your unencrypted password is never stored in the SwiftBlog server and cannot be accessed by anyone, 
        including SwiftBlog staff. SwiftBlog does not track your data or sell your information to third-parties.</p>

    <h3>Cookies</h3>

    <p>SwiftBlog uses your browser's local storage to store session data, allowing you to remain logged in upon page reloads. You have the
        option to refuse the use of this storage while using the SwiftBlog web application.
    </p>

    <h3>Children's Privacy</h3>

    <p>Our service is not intended for use by children under the age of 13. We do not knowingly collect personal information from 
        individuals under 13 years of age. If we become aware that we have inadvertently collected such information, we will take steps to 
        delete it promptly.</p>

    <h3>Changes to this Policy</h3>

    <p>We reserve the right to update this Privacy Policy as needed to reflect changes in our data practices or applicable laws. Any updates 
        will be posted on this page with a revised effective date. We encourage you to check this page periodically for any changes.</p>

    <h3>Contact Us</h3>

    <p>If you have any questions, concerns, or requests related to your privacy or this Privacy Policy, please contact us at
        averydeemer@gmail.com.</p>

    <form>
        <input type="button" value="Back" onclick="history.back()" />
    </form>
</div>
