@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SwiftBlog.Web</title>
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SwiftBlog.Web.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.png" type="image/png" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@4.0.10/js/froala_editor.pkgd.min.js'></script>

</head>
<body>
    <header class="fixed-top shadow-md border-bottom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <div class="logo">
					<a class="navbar-brand d-flex gap-2 align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
						<i class="bx bx-wind bx-sm text-light"></i>
                        <span>SwiftBlog</span>
                        <span class="badge bg-success">.Web</span>
                        <span class="badge bg-danger beta-icon">&#60;Beta /&#62;</span>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
						    <li class="nav-item dropdown">
							    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Admin
							    </a>
							    <ul class="dropdown-menu">
								    <li><a class="dropdown-item" asp-area="" asp-controller="AdminTags" asp-action="Add">Add Tag</a></li>
								    <li><a class="dropdown-item" asp-area="" asp-controller="AdminTags" asp-action="List">Tag List</a></li>
								    <li><a class="dropdown-item" asp-area="" asp-controller="AdminBlogPosts" asp-action="Add">Add Blog Post</a></li>
								    <li><a class="dropdown-item" asp-area="" asp-controller="AdminBlogPosts" asp-action="List">Blog Post List</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminUsers" asp-action="List">User List</a></li>
							    </ul>
						    </li>
                        }

                        
                    </ul>

                    <div class="d-flex align-items-center">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="me-3 text-light">
                                <span>Welcome back, <strong>@User?.Identity?.Name</strong>!</span>
                            </div>

                            <a class="btn me-3 bg-light text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                        }
                        else
                        {
                            <a class="btn me-3 bg-light text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            <a class="btn me-3 bg-dark text-light" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                        }
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <a class="btn text-light"><i class='bx bxs-sun bx-sm'></i></a>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div >
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

	<footer class="footer border-top text-muted position-fixed fixed-bottom bg-light ">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="copyright-container align-items-center">
                SwiftBlog.Web Beta &copy; 2023 - Avery Deemer 
                <a href="https://github.com/averyde"><i class="bx bxl-github bx-xs"></i></a>
                <a href="https://www.linkedin.com/in/avery-d-5457a712b/"><i class="bx bxl-linkedin-square bx-xs"></i></a> -
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </span>
            <div class="software-images justify-content-between align-items-center gap-4">
                <img class="software-icon" src="~/media/software/html5.png" alt="HTML5" />
                <img class="software-icon" src="~/media/software/asp.net.png" alt="ASP.NET Core MVC 7" />
                <img class="software-icon" src="~/media/software/javascript.png" alt="JavaScript" />
                <img class="software-icon" src="~/media/software/mss.png" alt="Microsoft SQL Server" />
                <img class="software-icon" src="~/media/software/bootstrap.png" alt="Bootstrap" />
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/darkMode.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
